﻿@model IEnumerable<UploadApp.Models.Invoice>

@{
    ViewBag.Title = "Invoice List";
}

<h2>@ViewBag.Title</h2>

        <p>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Upload", "Invoice")'">
                Upload Invoice
            </button>
        </p>
        
    <span class="text-danger">@ViewBag.Message</span>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.invCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invCurrencyCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invTransactionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invLastUpdate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.invCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invCurrencyCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invTransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.invLastUpdate)
                    </td>
                </tr>
            }
        </table>


    <!-- Upload Message Dialog -->
    <div class="modal fade" id="messageDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="messageDialogTitle">Uploaded File Dialog</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="messageDialogBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- File Upload Modal Dialog -->
    <div class="modal fade modal-lg" id="fileuploadModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="uploadFileModalLabel">Upload File</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="pnlUploadMessage"></div>
                    <form id="fileUploadForm" action="@Url.Action("UploadInvoice", "Invoice")" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="validatedCustomFile" name="postedFile" accept="" required>
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <div class="invalid-feedback">Allow only .csv or .xml file !</div>
                                <input type="file" name="file" id="fileupload" />
                             </div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">Select CSV or XML file to upload</div>
                            <div class="pull-right">
                                <a id="btnUpload" class="btn btn-primary" href="javascript:;">Upload</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
<script src="@Url.Content("~/Scripts/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    
    </script>
}
