﻿@model UploadApp.Models.Invoice

@{
    ViewBag.Title = "Upload Invoice";
}

@using (Html.BeginForm("Upload", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", @class = "was-validated" }))
{
    @Html.AntiForgeryToken()

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
               @ViewBag.Title
            </h1>
        </section>
        <div class="box-body">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="postedFile" accept="" required >
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    <div class="invalid-feedback">Allow only .csv or .xml file !</div>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input id="btnSubmit" type="submit" title="Upload" value="Upload" class="btn btn-primary" />
                </div>
            </div>
            </div>
    </div>            
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 <script>
        $(document).ready(function () {
            $(".custom-file-input").change(function () {
                var fileName = $(this).val().split("\\").pop();
                var extension = $(this).val().split('.').pop().toLowerCase();
                var validFileExtensions = ['csv', 'xml'];
 
                if ($.inArray(extension, validFileExtensions) == -1) {
                    $('.invalid-feedback').text("Sorry!! Upload only csv or xml file").show();
                    $(this).replaceWith($(this).val('').clone(true));
                    $('#btnSubmit').prop('disabled', true);
                }
                else {
                    if ($(this).get(0).files[0].size > (1048576)) {
                        $('.invalid-feedback').text("Sorry!! Maximum allowed file size is 1 MB").show();
                        $(this).replaceWith($(this).val('').clone(true));
                        $('#btnSubmit').prop('disabled', true);
                    }
                    else {
                        $('.invalid-feedback').text('').hide();
                        $('#btnSubmit').prop('disabled', false);
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    }
                }
            });
        });
</script>
}
